<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.p2p.dao.ResDao">
    <resultMap id="children" type="com.p2p.beans.Res">
        <id column="a_resid" property="resId"></id>
        <result column="a_text" property="text"></result>
        <collection property="children" javaType="com.p2p.beans.Res">
            <id column="b_resid" property="resId"></id>
            <result column="b_text" property="text"></result>
            <result column="b_url" property="url"></result>
        </collection>
    </resultMap>

    <select id="findAllRes" resultMap="children">
        select a.resid as a_resid, b.resid as b_resid ,a.text as a_text ,b.text as b_text ,a.url as a_url,b.url as b_url from res a left join res b on a.resid=b.childrenid where a.childrenid=0
    </select>

    <select id="findRoleRes" resultMap="children" parameterType="int">
        select a.resid as a_resid, b.resid as b_resid ,a.text as a_text ,b.text as b_text ,a.url
        as a_url,b.url as b_url from res a left join res b on a.resid=b.childrenid
        LEFT JOIN  role_res rr on a.resid=rr.res_id LEFT join role_user ru on rr.role_id=ru.role_id
        where a.childrenid=0 and ru.user_id=#{uid}
    </select>
    <!-- 分配权限-->
    <delete id="delRoleResource" parameterType="int">
        DELETE from role_res where role_id=#{rid}
    </delete>
    <insert id="saveRoleResource" parameterType="map">
        INSERT into role_res(res_id,role_id) VALUES
        <foreach collection="arr" item="resid"  separator=",">
            (#{resid},#{rid})
        </foreach>
    </insert>
    


</mapper>