<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.p2p.dao.RoleDao">

    <!-- 查询分页需要的role-->
    <select id="findAllRoles" resultType="com.p2p.beans.Role" parameterType="map">
        select re.roleid,rs.text,re.rolename from role re LEFT JOIN  res_role rr on re.roleid=rr.role_id LEFT  join res rs on rs.resid=rr.res_id limit #{start},#{size}
    </select>
    <!-- 查询有多少的角色-->
    <select id="findRoleNum" resultType="int">
        select count(*) from role
    </select>

    <insert id="addRole" parameterType="com.p2p.beans.Role">
        INSERT INTO role(rolename) values(#{roleName})
    </insert>

    <delete id="deleteRoleById" parameterType="int">
        delete from role where roleid =#{id}
    </delete>
    <delete id="deleteRoleByIds" parameterType="list">
        delete from role where roleid IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <update id="modifyRoleById" parameterType="com.p2p.beans.Role">
        update role set rolename=#{roleName} where roleid=#{roleId}
    </update>
    <select id="findRoles" resultType="com.p2p.beans.Role">
        SELECT * FROM role
    </select>
    <insert id="saveUserAndRole" parameterType="map">
        insert into role_user(user_id,role_id) values(#{userid},#{roleid})
    </insert>
</mapper>